.venv
.env
\outputs
\imgs
\outputs_Doctr_batch1
\outputs_Doctr_batch2
\outputs_tesseract_batch1
\outputs_tesseract_batch2
\outputs_ui_tess_batch1
\outputs_ui_tess_batch2
\outputs_uipath_doctr_batch1
\outputs_aa_doctr_batch1
\outputs_aa_doctr_batch2
\outputs_aa_tesseract_batch1
\outputs_aa_tesseract_batch2
\outputs_paddle_aa_BID
\outputs_paddle_BID
\outputs_uipath_doctr_batch2
\outups_aa_doctr_BID
\output_paddle_ui_BID
\output_doctr_ui_BID
\output_doctr_BID